<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bighero">

    <permission
        android:name="com.example.bighero.READ"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".app.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".js.JsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.ProviderUser"
            android:authorities="com.example.bighero.provider"
            android:exported="true"
            android:permission="com.example.bighero.READ" />


    </application>

</manifest>